<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A REST APIs website that provides a wide variety of features for developers.">
    <meta name="robots" content="archive, follow, imageindex, index, odp, snippet, translate">
    <meta name="author" content="DappaUhuy">
    <title>DapX's - REST APIs</title>
    <meta property="og:site_name" name="og:site_name" content="DapX's APIs">
    <meta property="og:title" name="og:title" content="DapX's - REST APIs">
    <meta property="og:url" name="og:url" content="https://lolhuman.herokuapp.com/">
    <meta property="og:image" name="og:image" content="https://i.ibb.co/cTZ6jv1/7d7d953fe4da.jpg">
    <meta property="og:description" name="og:description" content="A REST APIs website that provides a wide variety of features for developers.">
    <link rel="apple-touch-icon" sizes="180x180" href="https://i.ibb.co/cTZ6jv1/7d7d953fe4da.jpg">
    <link rel="shortcut icon" type="image/x-icon" href="https://i.ibb.co/cTZ6jv1/7d7d953fe4da.jpg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://i.ibb.co/cTZ6jv1/7d7d953fe4da.jpg">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="https://dappa-api.herokuapp.com/">
    <link rel="stylesheet" href="/static/all.min.css" type="text/css">
    <link rel="stylesheet" href="/static/home.css">
</head>

<body>
    <div class="text">
        <div class="status">
            <p>API STATUS : <span class="typed-text"></span><span class="cursor typing"></span></p>
        </div>
        <hr>
        <div class="readdocs">
            <p>Read <a href="/api" class="docs">Docs.</a></p>
        </div>
    </div>
    <div class="bottom">
        <p>
            <a href="../external.html?link=http://instagram.com/scytfdhd._" target="_blank" rel="noopener noreferrer" class="sosmed"><i class="fab fa-instagram-plane" aria-hidden="true"></i> Instagram</a>
        </p>
    </div>
</body>
<script src="static/script.js"></script>


</html>
